@import "tailwindcss";

/* globals.css */

@font-face {
  font-family: "satoshi-regular";
  src: url("/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "satoshi-medium";
  src: url("/fonts/Satoshi-Medium.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Heading font - PolySans */
@font-face {
  font-family: "polysans";
  src: url("/fonts/polysans-median.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Default body font */
body {
  font-family: "satoshi-regular", sans-serif;
  margin: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "PolySans", sans-serif;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}
